:root{
    --backgroundColor: rgb(245, 225, 225);
    --backgroundColor-buttons: #fff;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerMain{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

body{
    background-color: var(--backgroundColor);
}

.containerCustomize{
    background-color: var(--backgroundColor-buttons);
    width: 6%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.buttonContent, .buttonCustomize{
    background-color: var(--backgroundColor-buttons);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    gap: 10px;
    border: none;
}

/*----------------------------------------------------------content.jsx------------------------------------------------------------*/

.containerContent{
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.containerForm{
    background-color: var(--backgroundColor-buttons);
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);   
}

.form{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.formH2{
    font-size: 30px;
}

.input{
    background-color: var(--backgroundColor);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.labelTitle{
    font-weight: 600;
}


.spanRecommended{
    color: #b3aeae;
    font-size: 12px;
    font-weight: 700;
    padding-left: 8px;
}


.containerEducation, .containerExperience{
    background-color: var(--backgroundColor-buttons);
    width: 100%;
    height: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.education{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education h2{
    padding-left: 10px;
}

.educationImgDown{
    margin-left: auto;
}


.containerSonEducation{
    background-color: var(--backgroundColor-buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
}

.formSonEducation, .formSonExperience{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formEducationInput, .formEducationSubmit, .formExperienceInput, .formExperienceSubmit{
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding-left: 10px;
    height: 40px;
    border: none;
}

.formExperienceTextarea{
    background-color: var(--backgroundColor);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    border: none;
}

.formEducationSubmit, .formExperienceSubmit{
    cursor: pointer;
}

.formEducationSubmit:hover, .formExperienceSubmit:hover{
    background-color: #b3aeae;
}

.containerSonExperience{
    background-color: var(--backgroundColor-buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
}


.experience{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience h2{
    padding-left: 10px;
}

.rotated {
    transform: rotate(180deg); /* Estilos específicos para la clase 'rotated' */
    transition: transform 0.3s ease; /* Agrega una transición suave para el efecto */
  }

 .return{
    transform: rotate(0deg); /* Estilos específicos para la clase 'rotated' */
    transition: transform 0.3s ease; 
 }

 /*--------------------------------------------------------------curriculum.jsx---------------------------------------------------*/
 .containerCurriculum{
    width: 40%;
    box-shadow: var(--box-shadow);
    height: 800px;
 }

 .header{
    background-color: #054b85ea;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
 }

 .headerH1{
    font-size: 40px;
 }

 .headerContainerInfo{
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
 }

 .headerInfo{
    display: flex;
    gap: 5px;
 }

 .main{
    background-color: var(--backgroundColor-buttons);
    width: 100%;
    height: 100%;
 }

 .infoEducation, .infoExperience{
    width: 90%;
    margin: auto;
    padding-top: 30px;
 }

 .infoEducationH2, .infoExperienceH2{
    background-color:var(--backgroundColor);
    padding-top:3px;
    height: 35px;
    text-align: center;

 }

 .infoEducationContent{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 18px;
 }

 .infoExperienceContent{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    font-size: 18px;
 }

 .experienceContent{
    display: flex;
    justify-content: space-between;
 }